.todo-container {
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .input-container {
    width: 25%;
    height: 4.5vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

    input {
      height: 100%;
      width: 80%;
    }

    button {
      width: 4.5vh;
      background-color: #2E7D32;
      border: none;
      border-radius: 5px;
      color: #80CBC4;
      font-size: 2vh;
    }
  }

  .tasks-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
