.header-container{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 7vh;

    .header-nav{
        background-color: yellow;
        width: 50%;
        height: 100%;
        font-size: 1.5rem;

        ul{
            display: flex;
            list-style: none;
            width: 100%;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;

            li{
                background-color: purple;
                padding: 8px 18px;
                border-radius: 20px;

                &:hover{
                    box-shadow: 2px 2px 5px plum;
                }
            }
        }
    }
}