.header-container{
    background-color:  #E8F5E9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 10vh;

    .header-nav{
        width: 50%;
        height: 100%;
        font-size: 1.5rem;

        ul{
            display: flex;
            list-style: none;
            width: 100%;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;

            li{
                background-color: #2E7D32;
                padding: 8px 18px;
                border-radius: 20px;
                color: #E8F5E9;

                &:hover{
                    box-shadow: 2px 2px 5px #52a957;
                    cursor: pointer;
                }
            }
        }
    }
}